nav{
    padding: 0 20px;
}
nav img{
    max-height: 60px;
    max-width: 60px;
}
pre{
    font-size: 18px;
}
.container-articles {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.content{
    margin: 20px 0;
}
.force-white{
    color: white;
}
.contact-form{
    margin: 30px 20%;
}
.indent{
    text-indent: 20px;
    text-align: justify;;
    font-size: 18px;
}
.form-small{
    max-width: 80%;
}
.card-article {
    height:   240px;
}
.article-body p{
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}